@model CapaEntidad.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/datatable.css" rel="stylesheet" />
<h2>Index</h2>

@*<label>Ingrese modalidad contrato</label>*@
@*<select id="cboTipoModalidad"></select>*@
<div id="divTabla"></div>

<script src="~/Content/js/lib/jquery-3.4.1.min.js"></script>
<script src="~/Content/js/lib/datatable.min.js"></script>
<script src="~/Content/js/User.js"></script>
<script src="~/Content/js/generic.js"></script>